extends ../layout

block content
    h1= title
    p Create a new question here

    form(action='/admin/questions/add', method='post')
        div.form-row
            input(type='text', name='text', placeholder='Text*', required, autofocus)

        div.form-row
            input(type='text', name='title', placeholder='Header*', required)
            input('type=number', step='0.001', min='0', max='100' name='weight', placeholder='Weight', style='max-width:8rem')

        div.form-row.form-row---radio-group
            label(for='answerTypeFreeText')
                input#answerTypeFreeText(type='radio', name='answerType', value='FREETEXT', checked)
                span Free Text

            label(for='answerTypeSingleChoice')
                input#answerTypeSingleChoice(type='radio', name='answerType', value='SINGLECHOICE')
                span Single Choice

            label(for='answerTypeMultiChoice')
                input#answerTypeMultiChoice(type='radio', name='answerType', value='MULTICHOICE')
                span Multiple Choice

        div.form-row
            input('type=text', name='possibleAnswers[]', placeholder='Possible Answer')
            input('type=number', step='1', min='0', max='1' name='multipliers[]', placeholder='Multiplier', style='max-width:8rem')
            button.icon-button#addAnswer(type='button', style='margin-left:0.5rem')
                span.material-icons add

        br
        br

        button(type='submit')
            span Add Question
        button#back.back-button(type='button')
            span Back to dashboard

        br
        br
        h2 Existing questions
        ul.list
            each question in questions
                li.list__item
                    strong.item__title= `${ question.title } (${ question.weight })`
                    code.item__id= question._id
                    span.item__text= question.text
                    div.item__actions
                        a(href='/admin/questions/' + question._id + '/edit')
                            span.material-icons create

    script.
      document.addEventListener('DOMContentLoaded', () => document
        .querySelector('#addAnswer')
        .addEventListener('click', ( { currentTarget } ) => {
          const template = document.querySelector('#possibleAnswerTemplate');
          const input    = document.importNode(template.content, true);
          currentTarget.parentElement.parentElement.insertBefore(input, currentTarget.parentElement);
        })
      );

    template#possibleAnswerTemplate
        div.form-row
            input(type='text', name='possibleAnswers[]', placeholder='Possible Answer')
            input(type='number', step='1', min='0', max='1' name='multipliers[]', placeholder='Multiplier', style='max-width:8rem')
