extends ../layout

block content
    h1= title
    p Overview of the current data

    article.grid
        section.card.card--third.entries(style='background:#2196F3;color:#fff')
            header.card__header
                span.card__icon.material-icons inbox
            span.card__counter= entryCount
            h2.card__title Entries

        section.card.card--third.questions(style='background:#E91E63;color:#fff')
            header.card__header
                span.card__icon.material-icons help
            span.card__counter= questionCount
            h2.card__title Questions
            button.card__button#add-question Add

        section.card.card--third.recommendations(style='background:#FFC107;color:#fff')
            header.card__header
                span.card__icon.material-icons announcement
            span.card__counter= recommendationCount
            h2.card__title Recommendations
            button.card__button#add-recommendation Add

    article.grid
        section.card.card--half.database-stats
            header.card__header
                span.card__icon.material-icons storage
                h2.card__title Database

            table.stats.stats--database
                tr
                    th Database
                    td= stats.database.db

                tr
                    th Health
                    td
                        if stats.database.ok
                            strong.health.health--good Good
                        else
                            strong.health.health--bad Bad

                tr
                    th Collections
                    td= stats.database.collections

                tr
                    th Objects
                    td= `${ stats.database.objects } (~${ stats.database.prettyAverageObjectSize })`

                tr
                    th Indexes
                    td= `${ stats.database.indexes } (${ stats.database.prettyIndexSize } total)`
                tr
                    th Storage
                    td
                        span= stats.database.usedStorage
                        span &thinsp;/&thinsp;
                        span= stats.database.availableStorage
                        progress(value=stats.database.fsUsedSize, max=stats.database.fsTotalSize)


        section.card.card--half.server-stfsTotalSizeats
            header.card__header
                span.card__icon.material-icons assessment
                h2.card__title System

            table.stats.stats--system
                tr
                    th Process
                    td= stats.system.commandLine

                tr
                    th PID
                    td= stats.system.pid

                tr
                    th CPU&nbsp;Usage
                    td
                        span= `${ Math.round(( stats.system.cpu + Number.EPSILON ) * 100) / 100 }%`
                        progress(value=stats.system.cpu, max=100)

                tr
                    th RAM&nbsp;Usage
                    td
                        span= stats.system.prettyUsedMemory
                        span &thinsp;/&thinsp;
                        span= stats.system.prettyTotalMemory
                        progress(value=stats.system.usedMemory, max=stats.system.totalMemory)


    script(src='/javascripts/dashboard.js')
