extends ../layout

block content
    h1= title
    p Edit a question here

    form(action='/admin/questions/' + question._id + '/edit', method='post')
        div.form-row
            input(value=question.text, type='text', name='text', placeholder='Text*', required, autofocus)

        div.form-row
            input(value=question.title, type='text', name='title', placeholder='Header*', required)
            input(value=question.weight, type='number', step='0.001', min='0', max='100' name='weight', placeholder='Weight', style='max-width:6rem')

        div.form-row.form-row---radio-group
            label(for='answerTypeFreeText')
                input#answerTypeFreeText(type='radio', name='answerType', value='FREETEXT', checked=question.answerType === 'FREETEXT')
                span Free Text

            label(for='answerTypeSingleChoice')
                input#answerTypeSingleChoice(type='radio', name='answerType', value='SINGLECHOICE', checked=question.answerType === 'SINGLECHOICE')
                span Single Choice

            label(for='answerTypeMultiChoice')
                input#answerTypeMultiChoice(type='radio', name='answerType', value='MULTICHOICE', checked=question.answerType === 'MULTICHOICE')
                span Multiple Choice

        each answer, index in question.possibleAnswers
            div.form-row
                input(value=answer.text, type='text', name='possibleAnswers[]', placeholder='Possible Answer')
                input(value=answer.multiplier, type='number', step='1', min='0', max='1' name='multipliers[]', placeholder='Multiplier', style='max-width:6rem')
                if index === question.possibleAnswers.length - 1
                    button.icon-button#addAnswer(type='button', style='margin-left:0.5rem')
                        span.material-icons add

        br
        br

        button(type='submit')
            span Update Question
        button.danger-button(type='submit', formaction='/admin/questions/' + question._id + '/delete')
            span Delete question
        button#back.back-button(type='button')
            span Back to dashboard

    script.
      document.addEventListener('DOMContentLoaded', () => document
        .querySelector('#addAnswer')
        .addEventListener('click', ( { currentTarget } ) => {
          const template = document.querySelector('#possibleAnswerTemplate');
          const input    = document.importNode(template.content, true);
          currentTarget.parentElement.parentElement.insertBefore(input, currentTarget.parentElement.nextSibling);
        })
      );

    template#possibleAnswerTemplate
        div.form-row
            input(type='text', name='possibleAnswers[]', placeholder='Possible Answer')
            input(type='number', step='1', min='0', max='1' name='multipliers[]', placeholder='Multiplier', style='max-width:6rem')
