extends ../layout

block content
    h1= title
    p Current list of entries

    table.data-table.entries
        thead
            th ID
            th Device ID
            th Device Type
            th Age
            th Gender
            th Family Members in Household
            th ZIP Code
            th Created

        tbody
        each entry in entries
            tr
                td= entry._id
                td= entry.deviceId
                td= entry.deviceType
                td= entry.age
                td= entry.gender.toLowerCase()
                td= entry.numberFamilyMembersInHouse
                td= entry.zipCode
                td= entry.createdAt.toLocaleString()

        tfoot
            tr
                td(colspan='8')
                    div.data-table__pagination
                        if page !== 1
                            a(href='?page=' + page - 1).pagination__item.pagination__item--previous Previous
                        if page !== pages
                            span.pagination__item.pagination__item--current= page
                        if page < pages
                            a(href='?page=' + page + 1).pagination__item.pagination__item--next Next
