extends ../layout

block content
    h1= title
    p List and create recommendations

    form(action='/admin/recommendations/add', method='post')
        input(type='text', name='text', placeholder='Text*', required, autofocus)
        br
        input('type=number', step='0.001', min='0', max='100' name='minScore', placeholder='Minimum score', style='max-width:10rem')
        input('type=number', step='0.001', min='0', max='100' name='maxScore', placeholder='Maximum score', style='max-width:10rem')
        br
        br
        button(type='submit')
            span Add Recommendation
        button#back.back-button(type='button')
            span Back to dashboard

    br
    br
    h2 Existing recommendations
    ul.list
        each recommendation in recommendations
            li.list__item
                span.item__title
                    strong= recommendation.minScore
                    span &thinsp;&ndash;&thinsp;
                    strong= recommendation.maxScore
                    span :&nbsp;
                span.item__text= recommendation.text
