extends layout

block content
    h1= title

    article.grid
        section.card.card--full(style='background:#E91E63;color:#fff')
            h2 Corona Self-Check
            p(style='text-align:center').
                Verwende unsere App und beantworte ein paar einfache Fragen, um
                herauszufinden ob deine Symptome auf Corona hinweisen. Die Daten
                werden anschließend anonymisiert ausgewertet, um eine
                geographische Risikobewertung zu erstellen.

        section.card.card--half(style='background:#2196F3;color:#fff')
            span.card__counter= entryCount
            h2.card__title Teilnehmer

        section.card.card--half(style='background:#FFC107;color:#fff')
