doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href='https://fonts.googleapis.com/css2?family=Material+Icons&family=Open+Sans:wght@300;400;600&display=swap' rel='stylesheet')
    body
        block content

        script(src='/javascripts/main.js')
