* {
  box-sizing: border-box;
}

html, body {
  margin:     0;
  min-height: 100vh;
}

html {
}

body {
  font:      14px 'Open Sans', 'Lucida Grande', Helvetica, Arial, sans-serif;
  height:    100%;
  margin:    0 auto;
  max-width: 72rem;
  padding:   50px;
}

body::after {
  background:      url('/images/hackathon-logo-black.png') no-repeat center center;
  background-size: contain;
  content:         '';
  display:         block;
  height:          10rem;
  margin:          2rem auto 0;
  width:           20rem;
  z-index:         -1;
}

a {
  color: #00b7ff;
}

.material-icons {
  user-select: none;
}

input[type='number'],
input[type='text'] {
  border:        2px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size:     1rem;
  margin:        0.25rem 0;
  padding:       0.5rem 0.75rem;
  width:         100%;
}

input[type='text'] {
  max-width: 40rem;
}

input + input {
  margin-left: 0.5rem !important;
}

input[type='number']:focus,
input[type='text']:focus {
  border-color: #1e88e5;
  box-shadow:   0 0 0 1px #1e88e5;
  outline:      none;
}

button {
  -webkit-appearance: none;
  background:         #1e88e5;
  border:             none;
  border-radius:      3px;
  box-shadow:         0 0 0 1px #1e88e5;
  color:              #ffffff;
  cursor:             pointer;
  font-family:        inherit;
  font-size:          1rem;
  font-weight:        bold;
  padding:            0.5rem 0.75rem;
  text-transform:     uppercase;
  transition:         all 0.125s;
  user-select:        none;
}

button:focus,
button:hover {
  background: #1565c0;
  outline:    none;
}

button + button {
  margin-left: 0.5rem;
}

button.icon-button {
  border-radius: 50%;
  height:        2rem;
  padding:       0.25rem;
  width:         2rem;
}

button.icon-button > .material-icons {
  line-height: 1;
}

button.back-button {
  background: #eeeeee;
  box-shadow: 0 0 0 1px #eeeeee;
  color:      #777777;
}

button.back-button:hover,
button.back-button:focus {
  background: #e0e0e0;
}

button.danger-button {
  background: #f44336;
  box-shadow: 0 0 0 1px #f44336;
  color:      #ffffff;
}

button.danger-button:hover,
button.danger-button:focus {
  background: #c62828;
}

.form-row {
  align-items: center;
  display:     flex;
  padding:     0.25rem 0;
}

.form-row.form-row---radio-group {
  align-items:    flex-start;
  flex-direction: column;
  padding:        0.5rem 0;
}

.form-row.form-row---radio-group label {
  align-items: center;
  display:     flex;
  padding:     0.125rem 0;
}

.form-row input[type='number'],
.form-row input[type='text'] {
  margin: 0;
}

.grid {
  display:   flex;
  flex-wrap: wrap;
  padding:   0.5rem 0;
}

.card {
  align-items:     center;
  background:      #ffffff;
  border-radius:   1rem;
  box-shadow:      0 1px 3px 1px rgba(0, 0, 0, 0.03),
                   0 24px 38px 3px rgba(0, 0, 0, 0.04),
                   0 9px 46px 8px rgba(0, 0, 0, 0.02),
                   0 11px 15px -7px rgba(0, 0, 0, 0.1);
  color:           #666666;
  display:         flex;
  flex-direction:  column;
  justify-content: flex-start;
  margin:          0;
  padding:         1rem;
}

.card.card--full {
  margin-bottom: 1rem;
  width:         calc(100% - 1rem);
}

.card.card--third {
  width: calc((100% / 3) - 1rem);
}

.card.card--half {
  width: calc(50% - 1rem);
}

.card:not(.card--full) + .card {
  margin-left: 1rem;
}

.card .card__header {
  align-items:     center;
  display:         flex;
  justify-content: center;
  padding:         0.5rem 0;
  position:        relative;
  text-align:      center;
  width:           100%;
}

.card .card__icon {
  background:    rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color:         inherit;
  left:          0;
  padding:       0.5rem;
  position:      absolute;
  top:           0;
}

.card .card__counter {
  align-items:     center;
  background:      rgba(0, 0, 0, 0.1);
  border-radius:   5rem;
  color:           inherit;
  display:         flex;
  font-size:       4rem;
  font-weight:     100;
  height:          6rem;
  justify-content: center;
  line-height:     1;
  text-align:      center;
  width:           6rem;
}

.card .card__title {
  font-weight: normal;
  margin:      0;
}

.card__counter + .card__title {
  margin-top: 1rem;
}

.card .card__button {
  background: rgba(0, 0, 0, 0.1);
  border:     none;
  box-shadow: none;
  color:      inherit;
  margin-top: 2rem;
  padding:    0.5rem 2rem;
}

.stats {
  border-collapse: collapse;
  list-style:      none;
  margin:          1rem 0 0;
  padding:         0;
  width:           100%;
}

.stats tr th,
.stats tr td {
  padding: 0.5rem 0.25rem;
}

.stats tr th {
  padding-right:  0.5rem;
  text-align:     right;
  vertical-align: top;
}

.stats tr td {
  text-align: left;
  width:      100%;
}

.stats tr + tr th,
.stats tr + tr td {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.stats li strong {
  margin-right: 0.5rem;
}

.health.health--good {
  color: #4caf50;
}

.health.health--bad {
  color: #f44336;
}

progress {
  -webkit-appearance: none;
  border:             none;
  border-radius:      0.25rem;
  height:             0.25rem;
  margin:             0;
  width:              100%;
}

progress::-webkit-progress-bar {
  background:    #eeeeee;
  border-radius: 0.25rem;
  margin:        0;
}

progress::-webkit-progress-value {
  background:    rgba(76, 175, 80, 1);
  border-radius: 0.25rem;
}

.list {
  margin:  0;
  padding: 0;
  width:   100%;
}

.list__item {
  background: #f2f2f2;
  display:    flex;
  flex-wrap:  wrap;
  padding:    0.5rem 1rem;
}

.list__item + .list__item {
  border-top: 3px solid #ffffff;
}

.list__item:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}

.list__item:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
}

.list__item .item__title {
  flex: 1 1 auto;
}

.list__item .item__text {
  color:      #555555;
  margin-top: 0.25rem;
  width:      100%;
}

.list__item .item__id {
  background:    rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  color:         rgba(0, 0, 0, 0.5);
  padding:       0.125rem 0.25rem;
  user-select:   all;
}

.list__item .item__id::before {
  content:     '#';
  user-select: none;
}

.list__item .item__actions {
  align-items:     center;
  display:         flex;
  justify-content: flex-end;
  width:           100%;
}

.list__item .item__actions a {
  border-radius: 1rem;
  color:         rgba(0, 0, 0, 0.5);
  height:        2rem;
  padding:       0.25rem;
  transition:    0.125s all;
  width:         2rem;
}

.list__item .item__actions a + a {
  margin-left: 0.5rem;
}

.list__item .item__actions a:hover,
.list__item .item__actions a:focus {
  background: rgba(0, 0, 0, 0.1);
  color:      #1565c0;
}

.data-table {
  border-collapse: collapse;
  width:           100%;
}

.data-table thead th {
  border-bottom: 2px solid #eeeeee;
}

.data-table th {
  text-align: left;
}

.data-table th:not(:last-child),
.data-table td:not(:last-child) {
  padding: 0.5rem 1rem 0.5rem 0;
}

.data-table__pagination {
  display:         flex;
  justify-content: flex-end;
  padding:         1rem 0;
}

.pagination__item {
  padding: 0.5rem;
}
